/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.section {
  width: 100%;
}

.container {
  margin: 0 auto;
  display: block;
  padding: 0px 156px;
}

.is-open-dialogform {
  display: flex !important;
}

.is-open-mobilemenu {
  display: block !important;
}

/* MEDIA QUERIES */

/* FOR MOBILE PHONE */

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
    width: 100%;
  }
  .header-content {
    justify-content: space-between;
    height: 56px;
  }

  .menu,
  .address p {
    display: none;
  }
  .header-content .navbar-hamburgermenu-icon {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  body .menu-mobile {
    margin-top: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
  }
  body .section-mobilemenu {
    display: none;
    position: relative;
    background-color: #fff;
  }
  .mobilemenu-ul {
    list-style: none;
  }

  .mobilemenu-icon-x {
    position: absolute;
    height: 8px;
    width: 8px;
    top: 0;
    right: 32px;
  }
  .mobilemenu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-left: 16px;
  }
  .mobilemenu-item-active {
    color: #404bbf;
  }
  .mobilemenu-address {
    margin-top: 168px;
    margin-left: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
  }
  .mobilemenu-item-active {
    color: #4d5ae5;
  }

  .mobilemenu-socialmedia-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 40px;
    padding-bottom: 50px;
  }
  .container-features {
    margin-bottom: 250px;
  }

  .features-list {
    flex-direction: column;
    align-items: center;
  }
  .features-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
  }
  .features-list li {
    width: 288px;
    height: 120px;
  }
  .feature-cards {
    width: 100%;
    margin-top: 72px;
    margin-bottom: 72px;
  }
  .feature-cards .bg-svg {
    display: none;
  }
  .ourteam-list {
    flex-direction: column;
    align-items: center;
  }
  .our-team-list-items {
    width: 264px;
    height: 428px;
  }
  .our-team-list-items .team-member-pic {
    width: 100%;
  }
  .section-footer {
    height: 500px;
  }
  .container-footer .footer-wrapper {
    display: block;
    text-align: center;
  }
  .container-footer .footer-wrapper .footer-part-1 {
    padding-top: 96px;
  }
  .footer-wrapper .footer-social-media-div {
    padding-top: 72px;
  }
  .footer-wrapper .footer-subscribe {
    padding-top: 72px;
  }
  .footer-social-media-div .footer-social-media-icons-div {
    justify-content: center;
  }
  .footer-subscribe-button {
    margin-top: 10px;
  }
}

/* FOR TABLET MODE */
@media (min-width: 768px) and (max-width: 1158px) {
  .container {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
  }
  .section-mobilemenu {
    display: none;
  }
  .navbar-hamburgermenu-icon {
    display: none;
  }
  .header-content {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
  }
  .header-content .menu {
    margin-left: -120px;
  }
  .header-content .address {
    display: block;
  }
  .header-content .navbar-list-item-a-active::after {
    margin-top: 50px;
  }
  .container-features {
    margin-bottom: 250px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .features-list li {
    width: 356px;
    height: 120px;
  }
  .features-header {
    font-weight: 700;
    font-size: 36px;
  }
  .feature-cards {
    margin-top: 72px;
    margin-bottom: 72px;
  }
  .feature-cards .bg-svg {
    display: none;
  }
  .container-team .ourteam-list {
    flex-wrap: wrap;
  }
  .our-team-list-items .team-member-pic {
    width: 100%;
  }
  .ourteam-list .our-team-list-items {
    width: 264px;
    height: 428px;
  }
  .container-footer .footer-wrapper {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    text-align: center;
  }
  .footer-wrapper .footer-part-1,
  .footer-social-media-div {
    flex: 1 1 45%;
    min-width: 300px;
  }
  .footer-wrapper .footer-subscribe {
    flex: 1 1 100%;
  }
  .footer-social-media-div .footer-social-media-text {
    text-align: start;
  }
}

/* Header Section Styles  DESKTOP*/
.section-mobilemenu {
  display: none;
}

.navbar-hamburgermenu-icon {
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.logo {
  font-family: "Raleway";
  font-size: 18px;
  color: #2e2f42;
  line-height: 1.16667;
  letter-spacing: 3%;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

.address {
  display: flex;
  gap: 40px;
}

.navbar-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.navbar-list-item-a {
  position: relative;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-list-item-a-active::after {
  content: "";
  text-decoration: underline;
  width: max-content; /* Bu nedense çalışmıyor */
  width: 50px;
  height: 5px;
  margin-top: 35px;
  margin-left: -50px;
  border-radius: 2px;
  position: absolute;
  background-color: #404bbf;
}

.navbar-list-item-a:hover {
  color: #404bbf;
}

.navbar-list-item:first-child a:active {
  text-decoration: underline;
}

.navbar-user-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
}

.navbar-user-email,
.navbar-user-tel {
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-user-email:hover,
.navbar-user-tel:hover {
  cursor: pointer;
  color: #404bbf;
}

/* Header Section Styles End */

/* Main Section Styles */

/* Effective Solutions Part Styles */

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  color: #fff;
  position: relative;
  z-index: 2;
}

.container-slogan {
  position: relative;
  background-color: #2e2f42;
  background: url(../images/hero-image.jpg) no-repeat center center / cover;
  text-align: center;
  align-content: center;
  height: 600px;
}

.container-slogan-opacity {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2e2f42;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  z-index: 1;
}

.slogan-button {
  position: relative;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  width: 169px;
  height: 56px;
  z-index: 2;
}

.slogan-button {
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.slogan-button:hover {
  cursor: pointer;
  background-color: #404bbf;
}

/* Effective Solutions Part Styles End */

/* Features Part Styles */

.container-features {
  align-items: center;
  justify-content: center;
}

.features-list {
  display: flex;

  gap: 24px;
  list-style: none;
  justify-content: center;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.feature-cards {
  margin-top: 120px;
  margin-bottom: 120px;
}

.bg-svg {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icons {
  height: 64px;
  width: 64px;
}

/* Features Part Styles End */

/* Our Team Part Styles */

.section-team {
  background-color: #f4f4fd;
}

.container-team {
  align-content: center;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11111;
  letter-spacing: 0.02em;
}

.ourteam-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 24px;
}

.our-team-list-items {
  text-align: center;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.team-member-pic {
  width: 264px;
  height: 264px;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-member-position {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-team-socialmedia-div {
  justify-content: space-between;
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 32px;
}

.section-team-socialmedia-icons {
  fill: #4d5ae5;
  height: 40px;
  width: 40px;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-socialmedia-icons:hover {
  fill: #404bbf;
  cursor: pointer;
}

/* Our Team Part Styles End */

/* Our Portfolio Styles */

.portfolio-header {
  margin-top: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-bottom: 120px;
}

.portfolio-list-items {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.portfolio-list-items:hover {
  cursor: pointer;
}

.portfolio-card-content {
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  margin-top: -4px;
  background-color: #fff;
  position: relative;
  z-index: 999;
}

.portfolio-images {
  width: 360px;
  height: 300px;
}

.portfolio-card-background {
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-items:hover .portfolio-card-background {
  z-index: 1;
  transform: translatey(0);
}

.relative {
  position: relative;
}

.portfolio-card-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-left: 16px;
  color: #2e2f42;
  margin-top: 0;
  padding-top: 32px;
}

.portfolio-card-text {
  padding-left: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our Portfolio Styles End */

/* Main Section Styles End */

/* Footer Section Styles */

.section-footer {
  background-color: #2e2f42;
}

.container-footer {
  height: 312px;
}

.footer-wrapper {
  height: 312px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 21px;
  letter-spacing: 3%;
  color: #f4f4fd;
}
.footer-logo-web {
  color: #4d5ae5;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-media-div {
  margin-top: -70px;
}

.footer-social-media-icons-div {
  gap: 16px;
}

.footer-social-media-text {
  font-weight: 500;
  color: #fff;
}

.footer-social-media-icons {
  fill: #4d5ae5;
  height: 40px;
  width: 40px;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-icons:hover {
  cursor: pointer;
  fill: #31d0aa;
}

.footer-social-media-icons-div {
  display: flex;
}

.footer-subscribe {
  margin-top: -70px;
}

.footer-subscribe-text {
  font-weight: 500;
  color: #fff;
  display: block;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  height: 40px;
  margin-right: 24px;
  background-color: #2e2f42;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe-input::placeholder {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
}

.footer-subscribe-button {
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  font-weight: 500;
  background-color: #4d5ae5;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover {
  cursor: pointer;
  background-color: #404bbf;
}

.footer-send-icon {
  margin-left: 16px;
  height: 20px;
  width: 24px;
}

/* Footer Section Styles End */

/* Contacts Section Styles */
.section-form-dialog {
  position: absolute;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.form-dialog {
  border-radius: 4px;
  width: 408px;
  height: 650px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: relative;
}

.form-dialog-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 16px;
}

/* Make this class comment because couldn't use fill for background
.form-dialog-icon-close {
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  position: absolute;
  right: 24px;
  top: 24px;
}
  */

/* Instead of take X as a svg with background I took itself*/

.x-div {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  align-content: center;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
}

.x-div:active {
  background-color: #404bbf;
}

.x {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
}
.x:active {
  fill: #fff;
}

.form-dialog-icon-close:active {
  fill: #fff;
}

.form-container {
  padding: 0 24px;
}

fieldset {
  border: 0;
}

.dialog-labels {
  position: relative;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.legend-text {
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.form-dialog-icon-name {
  position: absolute;
  height: 12px;
  width: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 19px;
}

.dialog-labels:focus-within {
  fill: #4d5ae5;
}

.dialog-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  text-indent: 38px;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 8px;
}

.dialog-input:focus {
  border-color: #4d5ae5;
}

.dialog-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.dialog-textarea:focus {
  border-color: #4d5ae5;
}

.form-dialog-icon-tel {
  position: absolute;
  height: 13px;
  width: 13px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 19px;
}

.form-dialog-icon-email {
  position: absolute;
  height: 12px;
  width: 15px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 19px;
}
/* hide checkbox */
#agreement {
  display: none;
}

.d-flex {
  display: flex;
  position: relative;
}

#agreement + label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  display: inline-block;
  color: #8e8f99;
  line-height: 25px;
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(cubic-bezier(0.4, 0, 0.2, 1));
}

#agreement + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  outline: 2px solid #8e8f99;
  left: 0;
  top: 0;
}

#agreement:checked + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  outline: 2px solid #4d5ae5;
  border-radius: 2px;
  left: 0;
  top: 0;
}

#agreement:checked + label::after {
  content: " \2713";
  text-align: center;
  font-size: 16px;
  color: #fff;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #404bbf;
  left: 0;
  top: 0;
  border: 1px solid #404bbf;
  border-radius: 2px;
  line-height: 1;
}

.dialog-agreement-text {
  margin-left: 3px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.dialog-agreement-text a {
  line-height: 1.33333;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.agreement-label {
  margin-top: 16px;
  display: flex;
}

.dialog-send-button-div {
  margin-top: 24px;
  text-align: center;
}

.dialog-send-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.dialog-send-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
